@CHARSET "utf-8";

html,body{
    margin: 0em;
    padding: 0em;
    text-decoration: none;
}
div {
    /*border: 1px solid black;*/
}
img{
    border-width: 0em;
}
a,a:visited,a:active,a:hover {
    border: 0em;
    text-decoration: none;
}
.language {
    width: 611px;
    margin: 5% auto;
}
ul{
    margin:-14% 0%;
    padding: 0% 35%;
}
 ul li {
    display: inline;
}