*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    background-color: transparent;
}    

html {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    background-color: transparent;
    font-family: 'Droid Sans', arial, serif;

    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFF00),to(#FFFFFF) );
    background: -moz-linear-gradient(top, #FFFF00 0%, #FFFFFF 100%);
    background: -o-linear-gradient(#ffff00, #FFFFFF);
     filter:     progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFF00, endColorstr=#FFFFFF);
    -ms-filter:"progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFFFFF00,EndColorStr=#FFFFFFFF)";
}

.bandeiras{
	
	position: relative;
	top: -2.25em;
	left:0em;
	text-align: center;
	
}
#ivete{
	float:right;
}
.bandeiras li{
	display: inline;
}
.bandeiras img{
	/*width: 10%;*/
        width: 32px;
	margin: 0em 0em; 
}

#preload-slideshow {
    border: 0 none;
    left: 33%;
    padding: 0;
    position: absolute;
    top: -38px;
    z-index: 1;
}
#preload-slideshow .close {
    position: relative;
    top: 42px;
    left: 5px;
    z-index: 2;
}
#cartazincial{
    min-height: 700px;
    max-height: 700px;
}

.loja{
    width: 50%;
    float: left;
}
.loja .loja1,.loja .loja2{
    float: left;
    width: 50%;
}
.loja .loja2 .text{
    padding:  1em;
}
.loja .loja2 .text .lojacontato{
    font-family: monospace;
    font-size: small;
}
.loja .loja1 .subtitle{
    margin:0em;
    text-align: center;
    color:black;
}
.onlyleft{
    float:left;
    text-align: left;
}
.onlyright{
    float:right;
    text-align: right;
}

#botoesloja{
    text-align: center;

}
.vermapa{
    font-size: smaller;
}

#botoesloja form{ 
    width: 100%;
    margin: 0 auto;
    display: inline;
}

.lojamorada,.lojacontato,.lojahorario{
    margin-bottom: 1em;
    font-size: small;
}

#cambiocaixa{
    font-size: 1.5em;
    color:white;
    text-align: center;
    margin-right: 3em;
    
}
.header a {
    float: right;
    margin-top: 2em;
    margin-right: 1em;
    margin-bottom: 0em;
    margin-left: 4em;
    text-decoration: none;
    font-weight: bold;
}
#taxa{
    color:#FFFF00;
}
#taxapais{
	text-align:right;
    margin-left: 0.5em;
    
}
.emprego{
	float: left;
	margin: 1em;
}
.empregoContacto{
	text-align: center;
	margin: 1em;
}
.footer {
    text-align: center;
    margin: 0.5em 0em;
    /*border: 1px solid gray;*/
}

.header {
    background: url("../../imagens/banner/banner.jpg") no-repeat;
    height: 200px;
}
.header_menu {
    height: 3em;
    background-color: #ffff00;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFF00),to(#FFFFFF) );
    background: -moz-linear-gradient(top, #FFFF00 0%, #FFFFFF 100%);
    background: -o-linear-gradient(#ffff00, #FFFFFF);
     filter:     progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFF00, endColorstr=#FFFFFF);
    -ms-filter:"progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFFFFF00,EndColorStr=#FFFFFFFF)";
}

#receber_noticias {
    margin-top: 1em;
    text-align: left;
}

#receber_noticias input[type="image"]{
    position: relative;
    top:12px;
    left:-30px;
    width: 32px;
    height: 32px;
}
#title_icons {
    margin: 1em 0em;
    text-align: left;
}

#receber_noticias_texto {
    float: left;
}

.header_textbox {
    width: 165px;
    height: 17px;
    color: #666666;
    text-transform: lowercase;
    font-size: 70%;
}

.content_header_cam {
    width: 970px;
    height: 22px;
    margin: 0 auto;
}

.content_header_cam_in {
    float: right;
    padding-top: 3px;
}
.footer{
    color: #bbb;
    font-weight: bold;
}
.footer a,.footer a:visited,.footer a:active {
    text-align: center;
    text-decoration: none;
    color: #bbb;
}
.footer a:hover{
    color: #4870B7;
    text-decoration: underline;
    font-style: italic;
    
}

a.footer_text {
    border: 0em;
    color: #bbb;
    font-size: 0.8em;
    margin: 0em 0.5em;
}



.footer p {

    font-size: 0.8em;
    text-align: center;
    margin: 0.5em 1em;
}
.risco {
    color: #999;
}
a.imagem {
    text-decoration: none;
    color: #fff;
    width: 155px;
    max-width: 155px;
    min-width: 155px;
}

a.texto {
    text-decoration: none;
    color: #000;
}

.content_promocao {
    width: 100px;
    height: 50px;
    float: left;
    margin-top: 30%;
    margin-left: 10px;
}

.content_promocao_texr {
    font-size: 15px;
    color: #000;
    text-transform: capitalize;
    font-weight: bold;
    text-align: left;
}

.content_promocao_foto {
    width: 176px;
    height: 220px;
    float: left;
    margin-left: 7px;
    margin-top: 5%;
    color: #fcfcd6;
}

.content_promocao_foto img {
    width: 155px;
}

.footer_division1 {
    width: 280px;
    height: 90px;
    float: left;
}

.language ul li{
    display: inline;
}

#pscroller2 {
    width: 330px;
    height: 78px;
    border: 0px;
    background-color: white;
}
.content_center {
    width: 330px;
    height: 50px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

.content_center_title_text {
    /*text-align: justify;*/
    line-height: 130%;
    color: #000;
}
/*
.content_center_text {
    text-align: justify;
}
*/

.texto,.title,.subtitle {
    color: black;
    font-style: normal;
    text-align: justify;
    margin: 0em 5%;
    line-height: 2;
}
.title {
    font-size: 1.3em;
    /*color: #23466C;*/
    color: #4870b7;
    font-weight: bold;
    margin-bottom: 1em;
    text-transform: uppercase;

}

.subtitle {
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    
    font-style: italic;
}

.content_seta {
    width: 15px;
    height: 16px;
}

.content_pontos {
    background-image: url(../../imagens/estrutura/pontos.jpg);
    background-repeat: no-repeat;
    background-position: top;
}

.content_fotos {
    width: 65px;
    height: 67px;
    padding-left: 10px;
    padding-right: 5px;
}

.content_lista {
    margin-left: 40px;
}

.bancos_imagem {
    width: 194px;
    height: 35px;
}

.tabela {
    border: 0;
    width: 850px;
    /*font-family: Verdana, Geneva, sans-serif;*/
    font-size: 11px;
    color: #666;
}

.cor {
    color: #4870b7;
    text-transform: capitalize;
}

.coluna_in {
    width: 100px;
    height: 45px;
    text-align: left;
}

.coluna {
    width: 250px;
    height: 45px;
}

.coluna_in_in {
    width: 600px;
    height: 45px;
}

.combobox {
    width: 110px;
    font-size: 13px;
    color: #000;
}

.erros {
    font-size: 10px;
    color: red;
}
.mensagem {
	text-decoration: blink;
	background-color:#f0c040;
    text-align: center;
    font-size: 1.3em;
    font-weight: 600;
    
}

.remessa {
    width: 201px;
    text-align: left;
    border: 0;
}

.remessa_in {
    width: 10px;
    border: 0;
}

.bold {
    
    font-weight: bold;
}

.footnote {
    font-weight: bold;
    font-size: 80%;
}

/*
Regra 1 - Classe que define as propriedades da barra horizontal
*/
ul.menubar,ul.menubaren {
    /*padding-top: 8px;
    padding-left: 10px;*/
    padding-top: 0.5em
}
/*
Regra 2 - Classe que define o formato e a posi�ao dos submenus (um ao lado do outro)
*/
ul.menubar .submenu,ul.menubaren .submenu {
    list-style: none;
    float: left;
}
/*
Regra 3 - Classe que define a posi�ao e a exibi�ao dos menus verticais (inicialmente eles nao sao exibidos)
*/
ul.menubar ul.menu,ul.menubaren ul.menu {
    display: none;
    position: absolute;
}
/*
Regra 4 - Classe que define a aparencia do link da barra horizontal
*/
ul.menubar a {
    display: block;
    font-weight: bold;
    color: black;
    text-decoration: none;
    padding: 0.5em 0.5em;
}
ul.menubaren a  {
    display: block;
    font-weight: bold;
    color: black;
    text-decoration: none;
    padding: 0.4em 0.4em;
    /*font-size: 0.9em;*/
}
/*
Regra 5 - Classe que define o tamanho e a cor do menu vertical
*/
ul.menu,ul.menu ul {
    width: 10em;
}

/*
Regra 6 - Classe que define o posicionamento dos itens do menu vertical relativos ao submenu
*/
ul.menu li {
    position: relative;
    list-style: none;
}

/*
Regra 7 - Classe que define a aparencia dos links dos itens do menu vertical
*/
ul.menu li a {
    text-decoration: none;
    padding: 0.3em 0.6em;
    font-size: 0.85em;
}

/*
Regra 8 - Classe que define o posicionamento do menu vertical
*/
ul.menu ul {
    position: absolute;
    display: none;
    left: 149px; /* Definir 1px menor que o tamannho do menu */
    top: 0px;
}

/*
Regra 9 - Classe que define o tamanho e a posi�ao do 3o n�vel de menus
*/
ul.menu li.submenu {
    width: 150px;
    position: relative;
    list-style: none;
    float: none;
}

/*
Regra 10 - Classe que define a aparencia dos links do 3o n�vel de menus
*/
ul.menu li.submenu a {
    display: block;
    text-decoration: none;
    padding: 5px 10px 5px 5px;
}

/* Fixar IE. Invis�vel para IE Mac \*/
* html ul.menu li {
    float: left;
    height: 1%;
}  /* Regra 11 */
* html ul.menu li a {
    height: 1%;
}  /* Regra 12 */
* html ul.menu li.submenu {
    float: none;
    height: 1%;
}  /* Regra 13 */
* html ul.menu li.submenu a {
    height: 1%;
}  /* Regra 14 */ /* Fim */ /*
Regra 15 - Classe que torna os sub-menus invis�veis inicialmente
*/
ul.menu li.submenu li.submenu_item ul {
    display: none;
}

/*
Regra 16 - Classe que insere a imagem da seta para a direita no menu vertical
*/
ul.menu li.submenu_item {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 93% 50%;
}

ul.menubar a:hover {
    text-decoration: none;
    color: #000;
}

.icons {
    margin: 0.5em 0em;
}

.iconmaistexto {
    margin: 0em 1.31em;
    text-align: center;
    float: left;
    font-size: 1em;
}

.icontexto {

}

.icon {
    border: 0em;
    width: 4em;
    height: 4em;
    vertical-align: middle;
    margin: 0em
}

.terco {
    float: left;
    width: 33.3%;
}

.textoConta {
    font-size: 0.7em;
    color: black;
    font-style: normal;
    text-align: justify;
}
.promocao .title,.promocao .subtitle{
    text-align: center;
}

.contas {
    width: 100%;
    border-color: #D5D5D5;
    border-style: solid;
    border-width: 1px;
}

.conta {
    width: 19.5%;
    float: left;
}
.contasen{
	width:21%;
	margin: 0 auto;
	
}
.contaen {
    
    float: left;
    text-align:center;
    
}

.clear {
    clear: both;
}

.left {
    float: left;
    width: 50%;
}

.right {
    float: right;
    width: 50%;
}

.center {
    text-align: center;
}

.leftConta {
    float: left;
    width: 20%;
}

.rightConta {
    float: right;
    width: 80%;
}

input,img {
    padding: 0px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

button,input,textarea,select{
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
    background: -moz-linear-gradient(top, #fff, #ddd);  
    /*border: 1px solid #bbb;*/
}

img {
    border: 0px;
    text-decoration: none;
}
a img{
    text-decoration: none;
}
#bonecos,#maria,#manel,#texto {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transform: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#manel:hover {
    -webkit-transform: rotate(4deg) scale(1.3);
    -moz-transform: rotate(4deg) scale(1.3);
    -o-transform: rotate(4deg) scale(1.3);
    -ms-transform: rotate(4deg) scale(1.3);
    transform: rotate(4deg) scale(1.3);
}

#maria:hover {
    -webkit-transform: rotate(-4deg) scale(1.3);
    -moz-transform: rotate(-4deg) scale(1.3);
    -o-transform: rotate(-4deg) scale(1.3);
    -ms-transform: rotate(-4deg) scale(1.3);
    transform: rotate(-4deg) scale(1.3);
}

#texto:hover {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -o-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}
#bonecos{
    padding: 15px;
}

.nome_equipa {
    font-weight: bold;
    margin-left: 8%;
}

.foto_equipa {
    float: left;
    margin: 3%;
}

a,a:visited,a:active,a:hover {
    border: 0em;
    color: #4870B7;
    text-decoration: underline;
    /*font-weight: bold;*/
}
a:hover{
    /*font-weight: bold;*/
    font-style: italic;
    /*text-decoration: underline;*/
}

.cartaz {
    width: 76%;
    margin: 0em auto;
    text-align: center;
}

#pscroller1 {
    height: 22em;
    border: 0em;
}

#content {
    margin: 0em auto;
    width: 1000px;
    background-color: white;
}